<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    
    <title>Blog Title<%= ' - ' + current_article.title unless current_article.nil? %></title>
    
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    
    <link href='//fonts.googleapis.com/css?family=Bitter:400,700,400italic|Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
    
  <body  class="<%= page_classes %>">
    <nav class="nav">
      <a href="/" class="logo" title="Created by Pete">
        <img src="../images/logo.png" width="100%" alt="Created by Pete">
      </a>
      
    </nav>
    
    <div>
      <% if is_blog_article? %>
        <time><%= current_article.date.strftime('%b %e, %Y') %></time>
        <h1><%= current_article.title %></h1>
        <div>
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
    
    
    <aside>
      <h2>Recent Articles</h2>
      <ol>
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </ol>

      <h2>Tags</h2>
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to tag, tag_path(tag) %> (<%= articles.size %>)</a></li>
        <% end %>
      </ol>

      <h2>By Year</h2>
      <ol>
        <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
          <li><%= link_to year, blog_year_path(year) %> (<%= articles.size %>)</a></li>
        <% end %>
      </ol>
    </aside>
  </body>
</html>
