<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>
  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% blog.articles[0...10].each do |article| %>
    <h1><%= link_to article.title, article %></h1>
    <time><%= article.date.strftime('%b %e %Y') %></time>
    <%= article.summary %>
    <%= link_to "read on &raquo;", article, class: 'more' %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
